# **<center><span style= "color:#800080;">All About Pandas</span></center>**

## ***<span style= "color:maroon;">Content </span>***
- **`Imports`** 
- **`Series in Pandas`** 
- **`DataFrames in Pandas`**
- **`Import files in Pandas`**
- **`Selection in Pandas`**
- **`Filtering in Pandas`**
- **`Aggregation in Pandas`**
- **`Data cleaning `**

## ***<span style= "color:purple;">Imports </span>***

In [1]:
import numpy as np
import pandas as pd

## ***<span style= "color:#6AA121;">Series in Pandas </span>***

In [11]:
# Series in Pandas
data1 = [100,102,104]
series = pd.Series(data1)
print(series)

list1 = ['a','b','c','d']
labels = [1,2,3,4]
series2 = pd.Series(data=list1, index=labels)
print(series2)

# Series with numpy
rng = np.random.default_rng(42)
data2 = rng.integers(1,20, size=10)
series3 = pd.Series(data2)
print(series3)
print(type(series3))

0    100
1    102
2    104
dtype: int64
1    a
2    b
3    c
4    d
dtype: object
0     2
1    15
2    13
3     9
4     9
5    17
6     2
7    14
8     4
9     2
dtype: int64
<class 'pandas.core.series.Series'>

## ***<span style= "color:#6AA121;">Dataframes in Pandas </span>***

In [12]:
# Dataframes in Pnadas
df_data = rng.integers(10,50, size=(2,3))
df_1 = pd.DataFrame(data=df_data, index=['A','B'], columns=['one', 'two','three'])
print(df_1)
print(type(df_1))

   one  two  three
A   31   49     39
B   40   38     41
<class 'pandas.core.frame.DataFrame'>

## ***<span style= "color:#6AA121;">Editing and retrieving data </span>***

In [14]:
# editing and retrieving data 
print(df_1)
df_1[['one','two']]

   one  two  three
A   31   49     39
B   40   38     41

   one  two
A   31   49
B   40   38

In [ ]:
# retirieving a row as series
# here loc method means label based indexing
df_1.loc['A']

one      31
two      49
three    39
Name: A, dtype: int64

In [16]:
# retrieving a row as dataframe
df_1.loc[['A']]

   one  two  three
A   31   49     39

In [ ]:
# here iloc means interger based indexing
print(df_1.iloc[0])
df_1.iloc[[0]]

one      31
two      49
three    39
Name: A, dtype: int64

   one  two  three
A   31   49     39

## ***<span style= "color:#6AA121;">Selection in Pandas </span>***

## ***<span style= "color:#6AA121;">Filtering in Pandas </span>***

## ***<span style= "color:#6AA121;">Aggregation in Pandas </span>***

## ***<span style= "color:#6AA121;">Data cleaning in Pandas </span>***