# **<center><span style= "color:#2F539B;">Feature scaling</span></center>**

## ***<span style= "color:maroon;">Feature scaling </span>***
- ***`Standard scaler`*** 
- **`MinMax scaler`** 
- **`MaxAbs scaler`**

## ***<span style= "color:purple;">Imports </span>***

In [10]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler

In [11]:
df = sns.load_dataset('titanic')

In [12]:
age = df[['age']]

### ***<span style= "color:#85BB65;"> Standard scaling</span>***

In [14]:
# Standard scaler
stand_scaler = StandardScaler()
scaled_age = stand_scaler.fit_transform(age)

scaled_age_df = pd.DataFrame(scaled_age, columns=['age'])
scaled_age_df.head()

        age
0 -0.530377
1  0.571831
2 -0.254825
3  0.365167
4  0.365167

### ***<span style= "color:#85BB65;"> Min Max scaling</span>***

In [16]:
# Min Max scaler
MinMax_scaler = MinMaxScaler()
MinMaxScaled_age = MinMax_scaler.fit_transform(age)

MinMax_Scaled_age_df = pd.DataFrame(MinMaxScaled_age, columns=['age'])
MinMax_Scaled_age_df.head(10)

        age
0  0.271174
1  0.472229
2  0.321438
3  0.434531
4  0.434531
5       NaN
6  0.673285
7  0.019854
8  0.334004
9  0.170646